
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat;
  }

  img {
    max-width: 100%;
  }
  
  .header {
    background: #2E323F;
    padding: 2rem 0;
    font-family: Oswald;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
.nav__item {
    margin-top: .75em;

}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    margin-top: 5rem;
    width: 100%;
  }
  
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
  }

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3rem;
    height: 3rem;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color:  #EAEBEC;
    transition: opacity 250ms ease;
  
    position: absolute;
    left: 0;
  }

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}


.hamburger {
    width: 50%;
    position: relative;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 100%;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  .nav__link--button{
    background:#A59678;
    padding: 0.25em 1em;
    border-radius: 10em;
   
  }

  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    
   }
  .nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav__link:hover,
  .nav__link:focus {
    opacity: .75;
  }
  .logo {
    height: 30px;
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family:Oswald;
    font-weight: 900;
    font-size: 24px;
    background-color: #A59678;
    padding: 0.75em 2em;
    border-radius: 100px;
  }
  
  .btn:hover,
  .btn:focus {
    opacity: 0.75;
  }
  
  .hero{
    background: #3B4050;
    padding: 100px 0;
    color: #fff;
  }
.hero__title{
    font-family: Oswald;
    font-weight:bold;
    font-size: 90px;
}

.hero_text {
    font-weight: regular;
    font-family: Montserrat;
    font-size: 24px;
    color:#ffffff;
}
  .section_two {
    background: #fbfbfb;
    padding: 100px 0;
    text-align:center;  
    font-size: 18px 
    
  }
.section_two_header {
    font-family:Oswald;
    font-weight: bold;
    font-size: 60px;
    color: #A59678;
}

.column{
    margin: 0 auto;
    padding: 2rem;
   
}

  .section_three{
    padding: 100px 0;
  }

  .main_title {
    font-family:Oswald;
    font-weight: Bold;
    font-size: 36px;
    color:#A59678;
  }

  .main{
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 21px;
  }

  .sidebar_item{
    background:#3B4050;
    padding: 3rem ;
    margin: 2rem 0;
    text-align:center; 
    color: #fff; 
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px
  }
  .sidebar_title{
    font-family: Oswald;
    font-weight: Bold;
    font-size: 30px;
  }
   .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .section_four {
    background: #2E323F;
    padding: 100px 0;
    color:#6F737F;
    
  }

  .footer_header{
    font-family: Oswald; 
    font-weight: Bold;
    font-size: 24px;
    color:  #EAEBEC;
    text-align:center;
  }

  .about_title {
    color:#A59678;
    font-family: Oswald;
    font-weight: Bold;
    font-size: 21px;
  }
  .about__item {
   
    font-weight: Regular;
    font-size: 16px

    
  }

  .about__main {
    padding: 0;
    list-style: none;
  }

  .nav_link {
    color: #fff;
    text-decoration: none;
   
  }

  
@media (min-width: 1000px) {
    .nav-toggle {
      display: none;
      
    }
  
    .nav {
      visibility: visible;
      display:flex;   
      align-items:center;
      justify-content: flex-end;
      height:auto;
      position: relative;
      margin:0;
     
    }

    .nav__list {
        display:flex;
        margin: 0;
    }
  
    .row {
      display:flex;
      justify-content: space-between;
    }

    .nav__item {
        margin: 0 0 0 1.5em;
    }

    .sidebar{
        display:flex;
      
    }
    .sidebar_item{
        margin: 1rem;
    }
    .about{
        display:flex;
        justify-content: space-between;
    }
    .about_main{
        width: 50%;
    }
    .hero_flex {
        display:flex;
        /* align-items: center; */
        /* background: red; */
        align-items:flex-end;

    }
 
  }
  