*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; 
  width: 50%;
  border: 2px solid white; 
  background: black; 
}

.container {
    width: 70%;
    margin: 0 auto;
    max-width: 1128px;
    
}

.head {
    padding: 100px 0;
    background: #F3EED9;
    text-align: center;
    font-weight:bold;
}

.section_one{
    padding: 50px 0;
    color:black;
    background: white;
}
.head_text_title {
    font-size: 18px;
    font-family: Roboto Light;
    color: black;
    font-weight:normal;
    letter-spacing: 0.2em;    
}

.title{
    color:#F3EED9;
}
.head_text_body{
    font-family: Playfair Display Black ;
    font-size: 60px;
    color: #824936;
}

.section_one_title{
    font-family:Playfair Display Black;
    font-size: 36px;
    color:#824936;
    text-align: center;
}

.section_flex {
    display:flex;
    justify-content: space-between;
}

.section_two {
    background:#222C2A;
    color: white;
    padding: 60px 0;
}

img {
    max-width: 100%;
}

.section_three {
    background: #824936;
    color: white;
    padding: 60px 0;
}



.flex_item {
    width:100%;
    align-self: flex-start;    
}

.flex_item + .flex_item {
    margin-left: 4em;
}